h1, h2, h3 {
  color: rgba(30, 30, 30, 1.0);
  front-size: 20px;
  front_family: 'Arial';
}

h3 {
  color: rgb(58, 44, 185);
}

body {
  color: rgba(30, 30, 30, 1.0);
  font-size: 10px;
  font-family: 'Arial';
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

a:hover{
  background-color: blueviolet;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.card-white {
  background: rgb(231, 229, 219);
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 40px black;
  margin: 30px;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}
/*h1, h2, h3,body.text-center {
  text-align: center;
}

h1, h2, h3,.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}
h1.container {
  width: 500px;
  margin: 0 auto;
} */
